/* BASE STYLES */

html { padding: 0; margin: 0;}

body {
	padding: 0;
	margin: 0;
	background: #FFF url(images/bg.png) repeat-y left;
	font-family: 'Open Sans', sans-serif;
}

body.login {
	background: #DEDEDE;
	background-image: none;
}

body.login #alert {
	display: block!important;
	position: relative!important;
	top: 0!important;
	right: 0!important;
	width: 310px!important;
	margin: 20px 0 0 0!important;
	background: #BD5256;
	color: #FFF;
}

h2 { 
	font-size: 16px;
	margin: 0;
}

a { color: #777; text-decoration: none;}

ul {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}

	ul li {
		display: inline-block;
	}

:focus { outline:none;}

label { display: block; margin: 20px 0 10px 0;}

input, textarea {
	display: block;
	border: none;
	font-size: 14px;
	padding: 10px;
	width: 300px;
	margin: 0 0 10px 0;
}

select { 
	display: block; 
	margin: 10px 0;
	padding: 10px;
}

input[type=checkbox] { display: none;}

input[type=submit], input[type=button] {
	background: #80C579;
	color: #FFF;
	width: auto;
	padding: 10px 30px;
	cursor: pointer;
	-webkit-transition:background 0.1s ease-in;
   -moz-transition:background 0.1s ease-in;
   -o-transition:background 0.1s ease-in;
   transition:background 0.1s ease-in;
}

	input[type=submit]:hover, input[type=button]:hover { background-color: #98D591;}

.full-overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: #FFF;
	width: 100%;
	height: 100%;
	z-index: 50;
	opacity: 0.9;
	z-index: 9999;
}

.clear { clear:both;}

#alert {
	display: none;
	background: #FDCD2B;
	color: #735020;
	padding: 10px;
	width: 20%;
	text-align: center;
	border-radius: 4px;
	position: absolute;
	top: 35px;
	right: 20px;
	font-size: 13px;
}

.php-error {
	
}

	.php-error .error-container {
		top: 180px;
		left: 50%;
		margin: 0 0 0 -400px;
		background:#FFF;
		width: 800px;
		position: absolute;
		padding: 20px;
		z-index: 99999999;
		border: 1px solid #BBB;
		box-shadow: 0 0 10px #AAA;
		-o-box-shadow: 0 0 10px #AAA;
		-moz-box-shadow: 0 0 10px #AAA;
		-webkit-box-shadow: 0 0 10px #AAA;
		border-radius: 4px;
		-o-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	
		.php-error .error-container h1 {
			color: #CCC!important;
			text-align: left!important;
			margin: 0;
			font-family: 'Lato', sans-serif;
			font-weight: normal;
			text-transform: uppercase;
		}
		
		.php-error .error-container table {
			margin: 20px 0 0 0;
		}
		
			.php-error .error-container table tr {}
			
				.php-error .error-container table tr td {
					padding: 10px 40px 10px 0;
				}

.notification {
	padding: 20px;
	background: #FFF;
	text-align: center;
}

	.negative-notification {
		background: #FDE7AE;
	}
	
	.positive-notification {
		background: #C5EBA2;
		color: #80C579;
	}

/* END BASE STYLES */

/* LOGIN STYLES */

form.login {
	width: 330px;
	margin: 0 auto;
	padding: 100px 0 0 0;
}

	form.login h1 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: normal;
		color: #FFF;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	form.login input[type=text], form.login input[type=password] {
		margin: 0 0 1px 0;
		padding: 15px;
	}
	
	form.login input[type=text] { 
		border-radius: 2px 2px 0 0;
	}
	
	form.login input[type=password] { 
		border-radius: 0 0 2px 2px;
	}
	
	form.login input[type=submit] {
		width: 330px;
		margin: 20px 0 0 0;
		box-shadow: 0 4px 0 #6AA662;
		padding: 15px;
		font-size: 16px;
		border-radius: 2px;
	}
	
	form.login span { 
		display: block;
		margin: 50px 0 0 0; 
		font-size: 12px; 
		text-align: center;
		color: #AAA;
	}

/* END LOGIN STYLES */

/* MAIN STYLES */

.container {
	height: auto;
	min-height: 100%;
}

#sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
}

	#sidebar a.logo {
		display: block;
		text-transform: uppercase;
		color: #FFF;
		padding: 30px;
		font-weight: bold;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}

	#sidebar nav {
		display: block;
		height: 500px;
		max-height: 800px;
		overflow-y: scroll;
	}
	
		#sidebar nav ul {
			display: block;
			margin: 0;
			padding: 0;
		}
	
			#sidebar nav ul li {
				display: block;
			}
		
				#sidebar nav a {
					display: block;
					margin: 0 0 0 20px;
					color: #FFF;
					padding: 10px;
				}
				
					#sidebar nav a.create {
						background: url(images/create.png) no-repeat 8px 10px;
						padding-left: 50px;
						margin-bottom: 30px;
					}
				
					#sidebar nav a.documentation {
						background: url(images/documentation.png) no-repeat 8px 10px;
						padding-left: 50px;
					}
				
					#sidebar nav a.categories {
						background: url(images/categories.png) no-repeat 8px 10px;
						padding-left: 50px;
					}
				
					#sidebar nav a.users {
						background: url(images/users.png) no-repeat 8px 10px;
						padding-left: 50px;
					}
	
			#sidebar nav ul li ul {
				display: block;
				margin: 0 30px 20px 30px;
				background: #F9F9F9;
				border-radius: 2px;
			}
	
				#sidebar nav ul li ul li {
					display: block;
					border-bottom: 1px solid #EEE;
				}
				
					#sidebar nav ul li ul li:last-child {
						border-bottom: none;
					}
	
					#sidebar nav ul li ul li a {
						display: block;
						margin: 0;
						color: #333;
						padding: 10px;
						font-size: 12px;
					}
	
					#sidebar nav ul li ul li a:hover { color: #3F96D9;}

	#sidebar footer {
		color: #FFF;
		padding: 30px;
	}
	
.none {
	padding: 40px 0;
}
	
#content {
	margin-left: 300px;
	padding: 40px;
	font-size: 14px;
}

	#content .title { 
		padding: 40px;
		margin: -40px 0 20px -40px;
		border-bottom: 1px solid #EEE;
		font-size: 22px;
	}

.sub-header {
	background: #FFF;
	padding: 20px;
	margin: -20px 0 20px -20px;
	width: 100%;
}

	.sub-header span {
		display: inline-block;
		background: #9CDA4F;
		color: #FFF;
		padding: 4px 15px;
		border-radius: 2px;
		-o-border-radius: 2px;
		-moz-border-radius: 2px;
		-khtml-border-radius: 2px;
		font-family: monaco;
		margin: 0 5px 0 0;
		font-size: 12px;
	}

	.sub-header-left { float: left;}
	.sub-header-right { float: right;}

.portal {
	display: inline-block;
	padding: 20px;
	background: #FFF;
	float: left;
	margin: 0 20px 20px 0;
	min-width: 205px;
}

	.portal .title {
		background: #4A82A8;
		padding: 20px;
		margin:-20px 0 0 -20px;
		width: 100%;
		color: #FFF;
		text-transform: uppercase;
	}
				
table.standard-table {
	background: #FFF;
	border: 1px solid #EEE;
}

	table.standard-table th {
		
	}

		table.standard-table tr th {
			text-align: left;
			padding: 20px 20px;
			border-bottom: 1px solid #EEE;
		}

	table.standard-table tr {
		
	}

		table.standard-table tr td {
			padding: 20px 20px;
			border-bottom: 1px solid #EEE;
		}

.spacer { margin: 40px 0 0 0;}

table.parameters-table {
	border-right: none;
	border-left: none;
	border-bottom: none;
	font-size: 14px;
	margin: 5px 0 40px 0;
	width: 700px;
}
	
	table.parameters-table tr td {
		padding: 20px 0;
	}

.pie-chart, .area-chart { 
	width: 500px;
	height: 400px;
}

.method {
	display: inline-block;
	background: #FED53C;
	padding: 5px 10px;
	border-radius: 2px;
	color: #B4811D;
	font-family: Monaco;
	font-size: 11px;
}

	.title .method {
		margin: -15px 0 0 20px;
		font-size: 14px;
	}

.call-url, .call-method {
	display: inline-block;
	font-family: Monaco;
	font-size: 12px;
	background: none!important;
	border: none!important;
}

	.call-method {
		margin: 0 0 20px 0;
	}
	
.call-description {
	line-height: 25px;
}

.uri {
	display: inline-block;
	background: #EEE;
	padding: 5px 10px;
	border-radius: 2px;
	color: #999;
	font-family: Monaco;
	font-family: 11px;
}

.button {
	display: inline-block;
	margin: 0 0 0 10px;
	background: #AAA;
	color: #FFF;
	padding: 10px 20px;
	float: right;
	border-radius: 2px;
	height: 20px;
	opacity: 0.8;
	-webkit-transition:opacity 0.2s ease-in;
   -moz-transition:opacity 0.2s ease-in;
   -o-transition:opacity 0.2s ease-in;
   transition:opacity 0.2s ease-in;
}

	.test-button { background: #80C579; float: none; margin: 0;}

	.button:hover { opacity:1;}

	.button.delete, .button.delete-user, .button.delete-category  {
		background:#D64D3C url(images/trash.png) no-repeat;
		background-size: 60%;
		background-position: center center;
	}

	.button.disabled { opacity: 0.4;}

	.button.edit {
		background:#AAA url(images/edit.png) no-repeat;
		background-size: 60%;
		background-position: center center;
	}

.checkbox {
	display: inline-block;
	padding: 5px;
	background: #FFF;
	cursor: pointer;
	width: 310px;
}

	.checkbox span {
		display: inline-block;
		background: #444;
		padding: 5px 10px;
		border-radius: 2px;
		color: #FFF;
		margin: 0 10px 0 0;
	}
	
.inside-form input {
	width: 400px;
	border: 1px solid #DDD;
	border-radius: 2px;
}
	
	.inside-form input:hover { border: 1px solid #AAA;}
	.inside-form input:focus {
		border: 1px solid #AAA;
		box-shadow:0 0 2px #AAA;
	}
	
.inside-form textarea {
	width: 600px;
	min-height: 100px;
	border: 1px solid #DDD;
	border-radius: 2px;
}
	
.inside-form input[type=submit], .inside-form input[type=button] {
	width: auto;
	margin: 10px 0 0 0;
	float: none;
	border: none;
}

.example-value {}

.preview-example {
	border: none!important;
	background: #F8F8F8!important;
}

	.preview-example:empty { display: none;}

.normal-label { margin: 10px 0 0 0;}

code.example {
	display: inline-block;
	width: 90%;
	font-family: Monaco;
	background: #FFF;
	color: #999;
	padding: 10px;
	margin: 10px 0;
	font-size: 13px;
	height: auto;
	overflow-y: scroll;
	border: 1px solid #DDD;
}

	code.example:hover { border-color: #AAA;}
	code.example:focus { 
		border-color: #AAA;
		box-shadow:0 0 2px #AAA;
	}
	
.parameters {
	background: #F9F9F9;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 20px 0 10px 0;
	padding: 0 20px 20px 20px;
}

	.parameter-group {
		border-left: 3px solid #999;
		padding-left: 20px;
	}

.show-hide {
	display: inline-block;
	background: #F9F9F9;
	color: #999;
	font-size: 12px;
	padding: 2px 8px;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid #DDD;
}

footer {
	font-size: 11px;
}

.prettyprint ol.linenums li { border-left:none!important;}

/* END MAIN STYLES */

label { cursor:pointer;}

.cField {
	display:inline-block!important;
	color:#777;
	width:421px;
	background:#FFF;
	font-size: 13px;
	margin:0 0 0 0;
	position: relative;
	z-index: 100;
	border: 1px solid #DDD;
}

	.cField:hover { border-color: #AAA;}

	.cField span.label { display:block; float:left; padding:10px;}
	
	.cField span.cFieldArrow {
		display:block;
		background:url(images/arrow.png) center no-repeat;
		float:right;
		height:36px;
		width:30px!important;
		margin:0;
	}

ul.cFieldLists {
	display:none;
	margin:-4px 0 0 0!important;
	padding:0;
	position:absolute;
	color:#777;
	font-size:13px;
	background:#FFF;
	border:1px solid #E3E5E3;
	border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	width:241px;
	max-height:200px;
	overflow-y:scroll;
	z-index:101;
	border-top:none;
	width: 421px;
}

	ul.cFieldLists li { display: block; padding:10px;}
		ul.cFieldLists li:hover { background:#F9F9F9; cursor:pointer;}
		
a.cFieldCheckbox {
	display:inline-block!important;
	padding:0!important;
	margin:0 5px -2px 0!important;
	width:16px!important;
	height:16px!important;
	opacity:0.4;
	background:url(images/unchecked.png) bottom no-repeat;
}
		
	a.cFieldCheckboxChecked { background:url(images/checked.png) no-repeat;}

span.cFieldFileLabel {
	float:block;
	padding:0 0 0 75px;
	float:left;
	margin:7px 0 10px 0;
	font-size:11px;
}

a.cFieldFile {
	display:inline-block;
	padding:8px 20px;
	color:#777;
	font-size:13px;
	background:#E9E9E9;
	border:1px solid #D9D9D9;
	border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-decoration:none;
}

	a.cFieldFile:hover { background:#E1E1E1;}

	.fakeFileName {
		font-size:13px;
		margin:0 0 0 10px;
	}
	
	
.rest-results { display: none;}